<section class="flex justify-center mt-12">
    <div class="flex m-4 rounded-lg border border-gray-100 shadow-sm w-8/12 flex-wrap">
        <div class="w-1/4 flex items-center">
            <img [src]="productInformation().image" alt="Profile Image" class="rounded-lg">
        </div>
        <div class="w-3/4">
            <div class="flow-root py-3">
                <dl class="-my-3 divide-y divide-gray-100 text-sm">
                    <div class="grid grid-cols-1 even:bg-gray-50 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                        <dt class="font-medium text-gray-900">Name</dt>
                        <dd class="text-gray-700 sm:col-span-2">{{productInformation().name}}</dd>
                    </div>
    
                    <div class="grid grid-cols-1 even:bg-gray-50 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                        <dt class="font-medium text-gray-900">Category</dt>
                        <dd class="text-gray-700 sm:col-span-2">{{productInformation().category}}</dd>
                    </div>
    
                    <div class="grid grid-cols-1 even:bg-gray-50 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                        <dt class="font-medium text-gray-900">Price</dt>
                        <dd class="text-gray-700 sm:col-span-2">${{productInformation().price}}</dd>
                    </div>
    
                    <div class="grid grid-cols-1 even:bg-gray-50 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                        <dt class="font-medium text-gray-900">Description</dt>
                        <dd class="text-gray-700 sm:col-span-2">
                            {{productInformation().description}}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</section>